@import "tailwindcss";

:root {
  --font-geist-sans: var(--font-geist-sans, sans-serif);
  --font-geist-mono: var(--font-geist-mono, monospace);
  --font-menda-black: var(--font-menda-black, sans-serif);
}

  @theme {
  --font-menda-black: "Menda Black", sans-serif;
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  }

body {
  font-family: var(--font-geist-sans);
}

/* Hide scrollbar for webkit browsers */
.scrollbar-hide {
  -webkit-scrollbar: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
